.conteiner{
    width: 100%;
    height: 100vh;
}

#contMebros{
    background: url("./assets/paper_texture.jpg");
    background-size: 100%;
}

@media screen and (max-width: 600px) {
    #contMebros{
        background: url("./assets/paper_texture_mobile.jpg");
        background-size: 150%;
    }
}
  
  